#footer {
  background: #333333;
  padding-top: 50px;
  color: #CCCCCC;
}

#footer .fa:hover {
  color: #F2DC60;
}

#footer a {
  letter-spacing: 20px;
  font-size: 30px;
  color: #CCCCCC;
}
#footer p {
  margin-bottom: 0px;
}
#footer .container {
  border-style: none;
  padding-top: 0px;
  padding-bottom: 30px;
}
