.section {
  background: #CCCCCC;
  color: #272822;
}

.section-title {
  margin: 0 0 20px;
  text-align: center;
  font-size: 19px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
}

h1, h2, h3 {
  margin-top: 7px;
  margin-bottom: 11px;
  color: white;
  text-align: center;
}

.element h1 {
  margin-top: 53px;
  margin-bottom: 40px;
}

.element p {
  margin-top: 5px;
  margin-bottom: 74px;
}

.wrapper-grey {
  background-color: grey;
}

#about {
  background-color: white;
}
#skills {

}
#contact {
  background-color: grey;
}
#skills {
  color: #FFFFFF;
}
