
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <ul class="list-inline">
          <li><a href="https://www.facebook.com/jurjen.munneke"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://nl.linkedin.com/in/jurjen-munneke-04261917"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://github.com/jurjenjm"><i class="fa fa-github"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-8 text-right">
        <p>© 2016 - All rights are given to you</p>
      </div>
    </div>
  </div>
</div>
