<div class="navbar-wagon">

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Menu -->
    <a href="#" class="navbar-wagon-item navbar-wagon-link">HOME</a>
    <a href="#" class="navbar-wagon-item navbar-wagon-link">ABOUT</a>
    <a href="#" class="navbar-wagon-item navbar-wagon-link">SKILLS</a>
    <a href="#" class="navbar-wagon-item navbar-wagon-link">PROJECTS</a>
    <a href="#" class="navbar-wagon-item navbar-wagon-link">CONTACT</a>
<!--     <a href="#" class="navbar-wagon-item navbar-wagon-link">MY RESUME (download)</a> -->
    <a href="#" class="navbar-wagon-item navbar-wagon-link fa fa-cloud-download">  MY RESUME</i></a>

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">HOME</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">RESUME</a></li>
        <li><a href="#">PORTFOLIO</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
    </div>
  </div>
</div>
