---
title: Jurjen Munneke
---

<section id="home">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/background-image.jpeg');">
    <div class="banner-content">
      <h1>Jurjen Munneke</h1>
      <p>Web Developer</p>
    </div>
  </div>
</section>

<div class="container">
  <div class="about-wrapper">
    <h1><span class="underline">About</span></h1>
    <section id="about" class="element">
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-4 col-md-offset-3 col-md-4">
          <p>
            Hello there, my name is Jurjen Munneke. I recently learned the basics of code in a thorough and exciting coding bootcamp at <a href="https://www.lewagon.com/" target="_blank">Le Wagon</a>. To build my first web apps with Ruby on Rails was such an empowering feeling! Besides writing code, I'm also very interested in how technology can affect peoples lifes. My proffesional goal is contribute to meaningful solutions that bring about positive change for both companies as for individuals.
          </p>
        </div>
        <div class="col-xs-10 col-sm-5 col-md-5">
          <div class="photo-about">
            <img class="img-responsive avatar-square" src="images/jurjen_bssa.jpg" alt="Jurjen">
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<section id="skills" class="element">
  <div class="wrapper-grey padded">
    <div class="container">
      <h1 class="text-center"><span class="underline">Skills</span></h1>
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <div class="row">
            <div class="col-xs-12 col-sm-offset-1 col-sm-6">
              <div class="list-skills">
                <h2>Web development</h2>
                <ul class="developer-languages list-inline">
                  <li class="list-skills-item">
                    <i class="devicon-ruby-plain"></i>
                    <p>Ruby</p>
                  </li>
                  <li class="list-skills-item">
                    <i class="devicon-rails-plain"></i>
                    <p>Rails</p>
                  </li>
                  <li class="list-skills-item">
                    <i class="devicon-postgresql-plain"></i>
                    <p>PostgreSQL</p>
                  </li>
                  <li class="list-skills-item">
                    <i class="devicon-html5-plain"></i>
                    <p>HTML5</p>
                  </li>
                  <li class="list-skills-item">
                    <i class="devicon-css3-plain"></i>
                    <p>CSS3</p>
                  </li>
                  <li class="list-skills-item">
                    <i class="devicon-javascript-plain"></i>
                    <p>JavaScript</p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xs-12 col-sm-5">
              <div class="list-skills">
                <h2>Tools</h2>
                <ul class="developer-languages list-inline">
                  <li class="list-skills-item">
                    <i class="devicon-git-plain"></i>
                    <p>Git</p>
                  </li>
                  <li class="list-skills-item">
                    <i class="devicon-photoshop-line"></i>
                    <p>Photoshop</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row special-padding">
        <div class="col-xs-12 col-sm-offset-1 col-sm-6">
          <div class="list-skills">
            <h2>Personal keywords</h2>
            <ul class="personal-skills">
              <li>Calm</li>
              <li>Honest</li>
              <li>Friendly</li>
              <li>Curious</li>
              <li>Eager to learn</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5">
          <div class="list-skills">
            <h2>Personal interests</h2>
            <ul class="personal-skills">
              <li>Music</li>
              <li>Reading</li>
              <li>Travelling</li>
              <li>Meditation</li>
              <li>Basketball</li>
              <li>Snowboarding</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="projects" class="element">
  <h1><span class="underline">Projects</span></h1>
  <div class="container projects">
    <div class="row">
      <div class="col-sm-offset-2 col-xs-12 col-sm-4">
        <div class="card" style="background-image: url('images/children_activities.jpg');">
          <div class="card-description">
            <h2>AboutTheKids</h2>
            <p>(in progress)</p>
          </div>
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: url('images/barter.jpg');">
          <div class="card-description">
            <h2>Bartuur</h2>
            <p>(in progress)</p>
          </div>
          <a class="card-link" href="http://www.bartuur.com" target="_blank"></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="element">
  <div class="wrapper-grey padded">
    <div class="container">
      <h1><span class="underline">Get in touch?</span></h1>
      <div class="row">
        <div class="col-sm-offset-4 col-xs-12 col-sm-4">
          <p class="text-center">
            ...
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
