---
title: Jurjen Munneke
---

<html>
<head>
  <meta charset="utf-8">
  <title>Airbnb home</title>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:300,400,500,700">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/background-image.jpeg');">
    <div class="banner-content">
      <h1>Jurjen Munneke</h1>
      <p>Very cool developer</p>
      <a class="btn btn-primary btn-lg">GET IT</a>
    </div>
  </div>

  <section id="about" class="element">
    <h1>ABOUT</h1>
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-1 col-xs-4 col-sm-4">
          <img class="card-user avatar-large" src="images/jurjen.jpg">
        </div>
        <div class="col-xs-4 col-sm-4">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur magnam inventore aliquam amet quod minus sunt, doloribus rerum explicabo expedita fugit totam odit culpa dolor fugiat neque, esse saepe magni! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur aspernatur nulla, ipsum qui modi maiores quo earum omnis debitis non! Illum, sed ex suscipit deserunt laudantium et corrupti vel ducimus!</p>
        </div>
      </div>
    </div>
  </div>

  <section id="resume" class="element">
    <div class="wrapper-grey padded">
      <div class="container">
        <h1 class="text-center">SKILLS</h1>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="card">
              <div class="card-description">
                <h2>Front-end</h2>
                <ul>
                  <li>test1</li>
                  <li>test2</li>
                  <li>test3</li>
                  <li>test4</li>
                  <li>test5</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card">
              <div class="card-description">
                <h2>Back-end</h2>
                <ul>
                  <li>test1</li>
                  <li>test2</li>
                  <li>test3</li>
                  <li>test4</li>
                  <li>test5</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card">
              <div class="card-description">
                <h2>Personal skills</h2>
                <ul>
                  <li>test1</li>
                  <li>test2</li>
                  <li>test3</li>
                  <li>test4</li>
                  <li>test5</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <section id="projects" class="element">
    <h1>PROJECTS</h1>
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-4 col-xs-4 col-sm-4">
          <p class="text-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur magnam inventore aliquam amet quod minus sunt, doloribus rerum explicabo expedita fugit totam odit culpa dolor fugiat neque, esse saepe magni!
          </p>
        </div>
      </div>
    </div>
  </div>

  <section id="contact" class="element">
    <h1>CONTACT</h1>
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-4 col-xs-4 col-sm-4">
          <p class="text-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur magnam inventore aliquam amet quod minus sunt, doloribus rerum explicabo expedita fugit totam odit culpa dolor fugiat neque, esse saepe magni!
          </p>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
